body {
    font-family: 'Roboto', sans-serif;

    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: #fffefe; 
}

h3 {
    margin-left: 10px;
}

/* Container für Username und Button */
.username-container {
    position: sticky;
    top: 0;
    background-color: #ffffff;  
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; 
    z-index: 1000; /* Das es über dem anderem Element ist */
}

/* Stil für das Benutzernamen-Eingabefeld */
.username-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #000000; 
    border-radius: 20px;
    margin-right: 10px;
}

/* Stil für den Beitreten-Button */
.username-submit {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: rgb(206, 206, 206); 
    color: rgb(0, 0, 0); 
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(154, 154, 154, 0.2); /* */
}

.username-submit:hover {
    background-color: #9a9a9a;
}

/* Stil für den Chat-Titel */
.chat-title {
    position: sticky;
    top: 50px; 
    background-color: #ffffff;
    padding: 10px 0;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid #000000;
    margin-bottom: 20px; 
    z-index: 1000; 
    margin-top: 30px; 
}

/* Stil für den Chat-Container (Username und Titel) */
.chat-container {
    width: 80%;
    max-width: 600px;
    margin: 80px auto 0; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #999999;
    overflow-y: auto; /* Scrollen im Chat */
    margin-top: 10px; 
    border-radius: 15px; /* Ecken jeder Nachricht abrunden */
}

/* Stil für die Chat-Nachrichtenliste */
.chat-messages li {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: rgb(231, 231, 231);
    list-style-type: none;
    display: block;
    clear: both;
    margin-right: 10px; 
    max-width: 500px; /* max. breite der Nachrichtenbox */
}

/* Stil für das Chat-Formular */
.chat-form {
    padding: 10px;
    display: flex;
}

/* Stil für das Eingabefeld für Nachrichten */
.message-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #3a3a3a;
    border-radius: 20px;
    margin-right: 10px;
}

/* Stil für den Senden-Button */
.send-button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #545454;
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.send-button:hover {
    background-color: #e2e3e2;
}

